img {
    width: 100px;
    height: 100px;
}

header {
    display: flex;
    background-color: #f7f4f0;
    justify-content: space-between;
}

.logo-nav {
    display: flex;
    align-items: center;
}

.logo-nav a {
    font-size: 18px;
    text-decoration: none;
    color: #663300;
    margin: 0 40px;
    padding: 10px 30px;
    border: 2px solid #554D00;
    border-radius: 5px;
}

.logo-nav a:hover {
    background-color: #446600;
    color: #fff;
}

.new-task-button {
    display: flex;
    align-items: center;
}

.new-task-button a {
    font-size: 18px;
    text-decoration: none;
    color: #663300;
    margin: 0 30px;
    padding: 10px 30px;
    border: 2px solid #554D00;
    border-radius: 5px;
}

.new-task-button a:hover {
    background-color: #446600;
    color: #fff;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-section {
    width: 10%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.center-section {
    text-align: center;
    width: 60%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.right-section {
    width: 20%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

h2 {
    color: #663300;
}

.img-container {
    padding: 20px 0;
    text-align: center;
}

.img-container img {
    width: 360px;
    height: 302px;
    border: #554D00;
    outline-style: dashed;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.center-container {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.task-list {
    list-style: none;
    padding: 0;
}

.task {
    font-size: 16px;
    margin: 10px 0;
    text-align: left;
    padding-left: 20px;
    position: relative;
}

.task::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #007ACC;
}

footer {
    background-color: #f7f4f0;
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-links a {
    text-decoration: none;
    color: #000000;
    margin: 0 40px;
    padding: 10px 30px;
}

.footer-copyright {
    font-size: 14px;
    margin-top: 10px;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

th {
    background-color: #338000;
    color: #f7f4f0;
    padding: 10px;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

ul {
    list-style-position: inside;
}

td a {
    background-color: #f7f4f0;
    text-decoration: none;
    color: #663300;
    margin: 0 20px;
    padding: 5px 10px;
    border: 2px solid #554D00;
    border-radius: 5px;
}

td a:hover {
    background-color: #446600;
    color: #fff;
}

form {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #554D00;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="text"],
input[type="date"] {
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #554D00;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #338000;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #554D00;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #446600;
}