body {
    margin: 0;
    padding: 0;
  }
  
header {
    text-align: center;
    padding: 50px;
    box-shadow: 0 2px 4px rgba(207, 63, 63, 0.1);
  }
  
header a {
    background-color: #f7f4f0;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: #663300;
    margin: 0 20px;
    padding: 5px 10px;
    border: 2px solid #554D00;
    border-radius: 5px;
  }
  
header a:hover {
    background-color: #446600;
    color: #fff;
  }

.centered-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
h1 {
    font-family: 'Roboto Slab', serif;
    color: #229900;
    font-size: 72px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}
  
main {
    font-family: 'Roboto Slab', serif;
    background-color: #f4f7f2;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    text-align: center;
    color: #663300;
    font-size: 24px;
}

p {
    text-align: center;
}

.img-container {
    text-align: center;
    padding: 20px 0;
}

.img-container img {
    width: 367.5px;
    height: 309.5px;
    border: 4px solid #554D00;
    outline-style: dashed;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
  
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th {
    background-color: #338000;
    color: #f7f4f0;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

.center-container {
    margin: 20px 0;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    margin: 20px 0;
    max-width: 400px;
    padding: 20px;
    border: 2px solid #554D00;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #554D00;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #338000;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #554D00;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #446600;
}

ul {
    text-align: center;
    list-style-position: inside;
}